= render "home/header"

h1 #{@team.name}
p This is the page of the team #{@team.name}, member of the #{@team.league.name}
p Team coordinator: #{link_to @team.user.username, @team.user}
h2 Options
ul 
  li = link_to "Edit", edit_league_team_path

