= render "home/header"

h1 #{@league.name}
p Welcome to the #{@league.name}. We love #{@league.sport}!
p League manager: #{link_to @league.user.username, @league.user}

h2 Teams
= render "teams/list", teams: @league.teams
p #{link_to "Add new Team", new_league_team_path(@league)}

h2 Options
ul 
  li = link_to "Edit", edit_league_path

